body{
  background-color: black;
  color: white;
}

input {
  background-color: transparent !important;
  color: white !important;
}

input::placeholder {
  color: white !important;

}

.message_content:nth-child(2n){
  background-color: gray;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 20px;
  margin: 20px;
}